################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Mango.Common/bin
/src/Mango.Common/obj
/src/Mango.Entity/bin
/src/Mango.Entity/obj
/src/Mango.Framework.Core/bin
/src/Mango.Framework.Core/obj
/src/Mango.Framework.EFCore/bin
/src/Mango.Framework.EFCore/obj
/src/Mango.Framework.Services/bin
/src/Mango.Framework.Services/obj
/src/Mango.Manager/bin
/src/Mango.Manager/obj
*.user
/src/Mango.Models/bin
/src/Mango.Models/obj
/src/Mango.Repository/bin
/src/Mango.Repository/obj
/src/Mango.Web/bin
/src/Mango.Web/obj
/src/.vs/Mango/v16/Server/sqlite3
/src/.vs/Mango
