<ul class="nav  nav-secondary nav-stacked">
    <li class="nav-heading">用户中心</li>
    <li id="leftmenu_Message"><a href="/user/mymessage">我的消息</a></li>
    <li id="leftmenu_Info"><a href="/user/info">个人资料</a></li>
    <li id="leftmenu_Posts"><a href="/user/myposts">我的帖子</a></li>
</ul>
