@{
    ViewData["Title"] = "发布手记";
}
@model List<Mango.Models.PostsChannelModel>
@section Style{
    <link href="~/lib/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <link href="~/style/lib/chosen/chosen.min.css" rel="stylesheet">
}
<div class="container-fixed"   style="margin-top:20px;">
    <form class="form-horizontal" method="post" id="formAddPosts">
        <div class="form-group">
            <div class="col-lg-2">
                <div class="input-group">
                    <span class="input-group-addon">频道:</span>
                    <select data-placeholder="选择几个相近的标签" class="chosen-select form-control" id="ChannelId" name="ChannelId">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <option value="@item.ChannelId">@(item.ChannelName)</option>
                            }
                        }
                    </select>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">标题:</span>
                    <input type="text" class="form-control" id="Title" name="Title" placeholder="你可以取一个简洁的标题...">
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <textarea style="height:360px;width:950px;" id="Contents" name="Contents" placeholder="输入你想发布的内容..."></textarea>
            </div>
        </div>

        <div class="form-group" style="margin-top:15px;">
            <div class="col-sm-12">
                <button type="button" id="btn_Post" class="btn btn-success">马上发布</button>
            </div>
        </div>
        <div class="form-group">
            <i class="icon icon-info-sign" style="margin-left:10px;"></i>
            <span class="text">温馨提示:请勿发布人身攻击以及一切违法的图片以及文字.</span>
        </div>
    </form>

</div>
@section Scripts{
    <script src="~/style/lib/chosen/chosen.min.js"></script>
    <script src="~/lib/jquery/jquery.validator.min.js"></script>
    <script src="~/lib/jquery/jquery.form.js"></script>
    <script src="~/lib/umeditor/umeditor.config.js"></script>
    <script src="~/lib/umeditor/umeditor.min.js"></script>

    <script src="~/lib/umeditor/plugins/plugins.min.js"></script>
    <script type="text/javascript">
        $('select.chosen-select').chosen({
            no_results_text: '没有找到',    // 当检索时没有找到匹配项时显示的提示文本
            disable_search_threshold: 10, // 10 个以下的选择项则不显示检索框
            search_contains: true         // 从任意位置开始检索
        });
    </script>
    <script type="text/javascript">
        var um = UM.getEditor('Contents', {
            toolbar: [
                ' bold italic underline | insertorderedlist removeformat |',
                'link unlink | emotion pimage attachment code',
                '| fullscreen', 'formula'
            ]
        });
        registerPlugins();
        $("#btn_Post").click(function () {
            $("#Contents").val(um.getContent());
            //加载验证
            var config = new Array();
            config.push({
                id: $("#Title"),
                required: { tip: '请输入手记标题'},
                length: { min: 1, max: 80 }
            });
            config.push({
                id: $("#Contents"),
                required: { tip: '请输入手记内容'},
                length: { min: 10, max: 60000 }
            });
            
            var v = $.Validator({
                items: config
            });
            if (v.Create()) {
                var tipIndex = layer.load(2);
                $("#formAddPosts").ajaxSubmit({
                    url: '/Posts/Add',
                    success: function (result) {
                        layer.close(tipIndex);
                        if (result) {
                            var tip = new $.zui.Messager('发布成功', {
                                icon: 'ok-sign',
                                type: 'success',
                                placement: 'center', // 定义显示位置
                                time: 0
                            }).show();
                            setTimeout(function () {
                                tip.hide(function () {
                                    window.location.href = '/posts';
                                });
                            }, 1500);
                        }
                    }
                });
            }
            else {
                return false;
            }
        });
    </script>
}
