
@{
    ViewData["Title"] = "缓存清理";
}
<form id="formRemoveCache" method="post" action="/ManagerSystem/CacheRemove">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <select class="form-control" name="cacheType" style="width:300px;">
                        <option value="0">清理全部缓存</option>
                        <option value="1">清理用户组权限缓存</option>
                        <option value="2">清理频道数据缓存</option>
                        <option value="3">清理顶部导航缓存</option>
                        <option value="4">清理基础数据缓存</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn btn-success" id="btn_RemoveCache" value="清理系统缓存" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript">
    $("#btn_RemoveCache").click(function () {
        $("#formRemoveCache").ajaxSubmit({
            success: function (res) {
                if (res) {
                    alert('清理完成');
                }
                
            }
        });
    });
    
</script>
